.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  text-align: right;
  z-index: 9999;
}

.newRoundInput {
  padding: 15px;
  color: red;
  text-align: center;
}

.result {
  display: inline-block;
  width: 50%;
}

.resultContainer {
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
  width: 100%;
}

.hidden {
  display: none;
}

.column {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}
