.newRoundInput {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid lightgray;
  text-align: center;
  z-index: 9999;
  background: white;
}
